.global-container {
  width: 1440px;
  margin: auto;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #121214;
}

.header {
  height: 918px;
  border: 1px solid black;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__nav {
  display: flex;
}

.header__nav_logo {
  margin-left: 70px;
  margin-top: 12px;
  height: 142px;
  width: 111px;
}

.header__nav_menu {
  display: flex;
  height: 15px;
  width: 702px;
  justify-content: space-between;
  margin-top: 39px;
  margin-left: 250px;
}

.header__nav_menu a {
  text-decoration: none;
  color: #fff;
  font-family: montserrat;
  font-size: 14px;
}

#blue {
  color: #037e8c;
}

.header__nav_callme {
  margin-top: 36px;
  margin-left: auto;
  margin-right: 74px;
}

.header__tel {
  letter-spacing: 10px;
}

.header__form {
  width: 180px;
  height: 40px;
  margin-top: 11px;
  position: absolute;
  margin-left: 28px;
}

.header__call {
  margin-top: 25px;
  margin-left: 50px;
}

.header__bigtext {
  display: flex;
  width: 595px;
  height: 264px;
  margin-left: 70px;
  margin-top: 25px;
}

.header__bigtext p {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 0.045em;
}

.header__smalltext {
  margin-left: 70px;
  margin-top: 125px;
}

.header__smalltext p {
  color: #fff;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 108.7%;
}

.header__bluebutton {
  margin-top: 100px;
  margin-left: 70px;
  word-spacing: 30px;
}

.header__route {
  margin-left: -290px;
  margin-bottom: 19px;
}

.header__cursor {
  margin-bottom: 12px;
}

/*INFO START*/
.info {
  /*height: 245px;*/
  border: 1px solid;
  padding: 47px 68px 27px 70px;
}

.info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.info__item {
  max-width: 302px;
}

.info__img-1 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 22px top 5px;
  padding: 10px;
}

.info__img-2 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 26px top 3px;
  padding: 10px;
}

.info__img-3 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 18px top 3px;
  padding: 10px;
}

.info__img-4 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 25px top 10px;
  padding: 10px;
}

.info__title {
  font-family: "Montserrat";
  font-weight: 600, Semi Bold;
  font-size: 18px;
  color: #121214;
  line-height: 19.57px;
}

/*INFO END*/

main {
  height: 7546px;
  border: 1px solid;
}

/*ROUTS START*/
.routs {
  background: #f4f4f4;
}

.routs__title {
  font-weight: 700, bold;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin: 0;
  padding: 57px 0 42px;
}

.route__title-2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 108.7%;
}

.route__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 108.7%;
}

.route__price::after {
  content: url(/assets/images/routs/i-price.svg);
  margin-left: 12px;
}

.route__time,
.route__distance,
.route__complexity {
  font-weight: 400;
  font-size: 16px;
  line-height: 108.7%;
  text-transform: uppercase;
}

.route__time>span,
.route__distance>span,
.route__complexity>span {
  font-weight: bold;
  font-size: 14px;
  line-height: 17.39px;
  text-transform: lowercase;
}

.route__time::before {
  content: url(/assets/images/routs/i-time.svg);
  margin-right: 17px;
}

.route__distance::before {
  content: url(/assets/images/routs/i-location.svg);
  margin-right: 17px;
}

.route__complexity::before {
  content: url(/assets/images/routs/i-star.svg);
  margin-right: 17px;
}

.route__description-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
}

.route__description-title::after {
  content: url(/assets/images/routs/i-rout.svg);
  margin-left: 20px;
}

.route__description-text {
  max-width: 524px;
  line-height: 160%;
  margin-bottom: 39px;
}

.btn-details,
.btn-reserve {
  width: 175px;
  height: 45px;
}

.btn-details {
  background: none;
  border: 1.5px solid #037e8c;
  box-sizing: border-box;
  border-radius: 9px;
  margin-right: 15px;
}

.btn-details a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #037e8c;
}

.btn-reserve {
  background: #037e8c;
  border-radius: 9px;
  border: none;
}

.btn-reserve a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

/*Team*/
.team {
  margin-top: 50px;
}

.team-title {
  margin: 0 auto;
  grid-area: t-title;
  font-size: 36px;
  text-align: center;
}

.t_photo {
  background-color: #f4f4f4;
  height: 409px;
  border-radius: 9px;
}

.t_photo__title {
  margin-top: 10px;
}

.t_photo__link {
  font-weight: 700;
  font-size: 24px;
  margin-left: 5%;
  text-decoration: none;
  color: #037e8c;
}

.t_photo__img {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.function_team {
  font-weight: 400px;
  font-size: 18px;
  margin-top: 0;
  margin-left: 5%;
}

.photo-Yl {
  grid-area: p-Yl;
}

.photo-Kr {
  grid-area: p-Kr;
}

.photo-Mx {
  grid-area: p-Mx;
}

.photo-Yr {
  grid-area: p-Yr;
}

.team-container {
  height: 400px;
  display: grid;
  margin: auto 0.5px;
  grid-template-columns: repeat(4px 1fr);
  grid-template-rows: 15% 5%;
  grid-template-areas: "t-title t-title t-title t-title"
    "p-Yl p-Mx p-Kr p-Yr";
}

/*ROUTS END*/
/*--------------------------Questions-----------------------------*/
.feedback {
  position: relative;
}

.feedback__quad {
  position: absolute;
  right: 0;
  bottom: 25%;
}

.feedback__spring {
  position: absolute;
  left: 0;
  top: 38%;
}

.feedback__container {
  height: 611px;
  margin: 0 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    "f-title f-title"
    "questions ask";
}

.main__offer {
  margin-top: 100px;
  background-image: url(./багги\ 2.svg);
  background-repeat: no-repeat;
  background-position-y: top;
}

.main__offer_text {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  color: #373737;
  justify-content: center;
  align-items: center;
}

.main__cards {
  display: flex;
  margin-left: 55px;
}

.item_container {
  display: flex;
  position: relative;
  top: -315px;
}

.bantdom {
  border-radius: 10px 0px 0px 10px;
}

.card-title {
  color: #037e8c;
  font-size: 36px;
  font-weight: 800;
}

.card-title2 {
  color: #037e8c;
  font-size: 24px;
  font-weight: 700;
}

.text {
  padding: 15px;
  margin-top: 20px;
}

.card-title3 {
  margin-top: 20px;
  color: #373737;
  font-size: 18px;
}

.main__offer_button {
  margin-top: 20px;
}

.main__offer_buttonword {
  margin-left: -135px;
  margin-bottom: 13px;
}

.item_picture {
  position: relative;
  top: -12px;
  left: 13px;
}

.item_picture2 {
  position: relative;
  top: -74px;
  left: 13px;
}

.feedback__title {
  grid-area: f-title;
  text-align: center;
  align-self: center;
}

.ask {
  text-align: center;
  grid-area: ask;
  justify-self: right;
}

.ask__title {
  font-weight: 600;
  font-size: 1.6em;
}

.ask__button {
  margin-top: 5%;
  width: 45%;
  height: 10%;
  background: #037e8c;
  color: #ffffff;
  border-radius: 9px;
  border: none;
}

.questions {
  grid-area: questions;
}

.answer {
  line-height: 21px;
}

.block {
  padding: 3%;
  margin-top: 1.5%;
  border: 0.5px solid #848484;
  border-radius: 2px;
}

.block__label {
  font-weight: 600;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
}

.block:hover {
  border: 1px solid #037e8c;
}

.block__hide {
  display: none;
}

.block__hide+.block__label~.answer {
  display: none;
}

.block__hide:checked+.block__label+.answer {
  display: block;
  padding-top: 3%;
}

/*---------------------------Extra--------------------------------*/
.extra__title {
  margin: 0;
  grid-area: e-title;
  text-align: center;
}

.photo {
  background-color: #f4f4f4;
  height: 309px;
  border-radius: 9px;
  margin: 3% auto;
}

.photo__title {
  margin-left: 8%;
  margin-top: 7%;
}

.photo__link {
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
  color: #037e8c;
}

.photo__img {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.photo-one {
  grid-area: p-one;
}

.photo-two {
  grid-area: p-two;
}

.photo-three {
  grid-area: p-three;
}

.photo-four {
  grid-area: p-four;
}

.photo-five {
  grid-area: p-five;
}

.photo-six {
  grid-area: p-six;
}

.photo-seven {
  grid-area: p-seven;
}

.photo-eight {
  grid-area: p-eight;
}

.extra-container {
  height: 751px;
  margin: 0 5%;
  padding-bottom: 5%;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 12% 1fr 1fr;
  grid-template-areas:
    "e-title e-title e-title e-title"
    "p-one p-two p-three p-four"
    "p-five p-six p-seven p-eight";
}

/*---------------------------Footer-------------------------------*/
footer {
  height: 704px;
  border: 1px solid;
}

.contacts__title {
  grid-area: title;
}

.adress {
  grid-area: adress;
}

.number {
  grid-area: number;
}

.email {
  grid-area: email;
}

.hours {
  grid-area: hours;
}

.contacts {
  margin-right: 1vw;
  border-top: 3px solid #037e8c;
  grid-area: contacts;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(1vh, auto);
  grid-template-areas:
    "title title"
    "adress number"
    "email hours";
}

.contacts__title,
.feedback__title,
.extra__title {
  font-weight: 700;
  font-size: 2.5em;
}

.connect {
  display: flex;
  align-items: flex-start;
}

.connect__title {
  margin: 2% auto auto 5%;
  font-size: 1.2em;
}

.map {
  grid-area: map;
  justify-self: flex-end;
}

.social {
  grid-area: social;
}

.social__title {
  font-size: 1.6em;
}

.social__img_whatsap {
  margin-right: 3%;
}

.bottom {
  height: 83px;
  border-top: 1px solid #121214;
  border-bottom: 1px solid #121214;

  margin-right: 5%;
  margin-top: 3%;
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__logo {
  margin-left: 8%;
}

.nav {
  width: 67%;

  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #121214;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.copyrights {
  margin: auto;
  margin-bottom: 2%;
  font-size: 1.1em;
  color: #787878;
  grid-area: copyrights;
}

.footer__container {
  margin-left: 5%;
  height: 704px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(1vh, auto);
  grid-template-areas:
    "contacts map"
    "social map"
    "bottom bottom"
    "copyrights copyrights";
}