body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #121214;
}

button {
  cursor: pointer;
}

/*----header----*/

.header {
  background-image: url(../images/sasha/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  padding: 1% 5% 15%;
}

.hamburger-menu {
  display: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.top__logo {
  width: 111px;
}

.navigation {
  margin-top: 2%;
  margin-left: 12%;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.navigation__link:hover {
  color: #037e8c;
  transition: .6s;
}

.right {
  width: 207px;
  height: 72px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  max-width: 100%;
}

.phone {
  margin-bottom: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone__img {
  width: 16px;
}

.right__number {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
}

.right__number:hover {
  color: #037e8c;
  transition: .6s;
}

.right__button {
  align-self: flex-end;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 9px;
  border: none;
  width: 177px;
  height: 40px;
  line-height: 15px;
  font-weight: 600;
  color: #ffffff;
}

.right__button:hover {
  background-color: #ffffff;
  color: #037e8c;
  transition: .6s;
}

.area {
  margin-top: 6%;
  color: #ffffff;
}

.area__title {
  margin-top: 9%;
  font-size: 70px;
  font-weight: 800;
  line-height: 88px;
}

.area__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}

.area-button {
  margin-top: 6%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #037e8c;
  border-radius: 9px;
  border: none;
  width: 274px;
  height: 55px;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
}

.area-button:hover {
  background: #02636e;
  transition: .6s;
}

/*---sale---*/
.sale {
  position: relative;
  overflow: hidden;
}

.sale__img_car {
  width: 40%;
  z-index: -1;

  position: absolute;
  bottom: 5%;
}

.sale__img_detail {
  z-index: -1;
  width: 40%;

  position: absolute;
  right: 0;
  top: 25%;
}

.sale-container {
  margin: 2% 5% 5%;
}

.sale__title,
.sertificate__title {
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.item__img {
  max-width: 98%;
}

/*----sertificate----*/
.sertificate {
  background-image: url(../images/sasha/Frame\ 14.png);
}

.sertificate-container {
  padding: 2% 5% 5%;
}

.sertificate__text {
  margin-bottom: 3%;
  font-size: 20px;
  font-weight: 500;
  color: #037e8c;
  text-align: center;
}

.common {
  display: flex;
  justify-content: space-between;
}

.information {
  width: 42%;
}

.information__text {
  margin-top: 5%;
  font-size: 18px;
  line-height: 31px;
}

.card__img {
  max-width: 98%;
}

.information__button {
  margin-top: 5%;
  background: none;
  border-radius: 9px;
  border: 1.5px solid #037e8c;
  width: 277px;
  height: 45px;
  font-weight: 600;
  color: #037e8c;
}

/*----info----*/
.info {
  margin: 0 5%;
  padding: 30px 0 30px;
}

.info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.info__img-1 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 22px top 5px;
  padding: 10px;
}

.info__img-2 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 26px top 3px;
  padding: 10px;
}

.info__img-3 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 18px top 3px;
  padding: 10px;
}

.info__img-4 {
  background-image: url(/assets/images/info/i-circle.svg);
  background-repeat: no-repeat;
  background-position: left 25px top 10px;
  padding: 10px;
}

.info__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #121214;
  line-height: 19.57px;
}

.info__title--4 {
  margin: 0;
}

/*----routes----*/
.routes {
  background: #f4f4f4;
}

.routes__container {
  background-image: url(/assets/images/routs/routes-bg.svg);
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
}

.routes__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin: 0;
  padding: 4%;
}

.basic,
.extantion,
.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 10%;
}

.basic__content,
.experience__content {
  margin-left: 10%;
  padding-right: 5%;
}

.extantion__content {
  margin-right: 10%;
}

.extantion__slider {
  margin-right: 5%;
}

.basic__content,
.extantion__content,
.experience__content {
  display: flex;
}

.basic__line,
.extantion__line,
.experience__line {
  padding: 6px 3% 0 0;
  justify-self: flex-start;
}

.routes__line--adapt {
  display: none;
}

.routes__title--2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 108.7%;
  text-transform: uppercase;
}

.routes__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 108.7%;
}

.routes__price::after {
  content: url(/assets/images/routs/i-price.svg);
  margin-left: 2%;
}

.routes__time,
.routes__distance,
.routes__complexity {
  font-weight: 400;
  font-size: 16px;
  line-height: 108.7%;
  text-transform: uppercase;
}

.routes__time>span,
.routes__distance>span,
.routes__complexity>span {
  font-weight: bold;
  font-size: 14px;
  line-height: 17.39px;
  text-transform: lowercase;
}

.routes__time::before {
  content: url(/assets/images/routs/i-time.svg);
  margin-right: 3%;
}

.routes__distance::before {
  content: url(/assets/images/routs/i-location.svg);
  margin-right: 3%;
}

.routes__complexity::before {
  content: url(/assets/images/routs/i-star.svg);
  margin-right: 3%;
}

.routes__description-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
}

.routes__description-title::after {
  content: url(/assets/images/routs/i-rout.svg);
  margin-left: 3%;
}

.routes__description-text {
  margin-bottom: 7%;
  line-height: 160%;
}

.btn-details,
.btn-reserve {
  width: 175px;
  height: 45px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  border-radius: 9px;
}

.btn-details {
  background: none;
  border: 1.5px solid #037e8c;
  color: #037e8c;
  border-radius: 9px;
  margin-right: 15px;
}

.btn-details:hover {
  background: #037e8c;
  color: white;
  transition: 1s;
  cursor: pointer;
}

.btn-reserve {
  background: #037e8c;
  color: white;
  border: none;
}

.btn-reserve:hover {
  background: #035760;
  cursor: pointer;
  transition: 1s;
}

.basic__slider,
.extantion__slider,
.experience__slider {
  align-self: center;
}

.basic__slider-img,
.extantion__slider-img,
.experience__slider-img {
  width: 100%;
}

/*----video----*/

.video {
  max-width: 100%;
  max-height: 100%;
  background: no-repeat url(/assets/images/services/unsplash_dvACrXUExLs.png);
  background-size: cover;
}

.video__container {
  padding: 5%;
}

.video__pic {
  width: 100%;
  text-align: center;
}

/*----team----*/
.team {
  position: relative;
}

.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  grid-template-areas: "ph1 ph2 ph3 ph4";
  margin: 0 5%;
  padding-bottom: 5%;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 5% 0 3% 0;
}

.team__item {
  background: #F4F4F4;
  border-radius: 9px;
  margin: 0;
}

.team__item-img {
  max-width: 100%;
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.team__item-text {
  padding: 3% 0 3% 10%;
}

.team__item-name {
  font-weight: 700;
  font-size: 20px;
  color: #037E8C;
  margin: 0;
  padding-bottom: 2%;
}

.team__item-role {
  margin: 0;
}

.team__item-1 {
  grid-area: ph1;
}

.team__item-2 {
  grid-area: ph2;
}

.team__item-4 {
  grid-area: ph3;
}

.team__item-4 {
  grid-area: ph4;
}

.team__backg-right {
  position: absolute;
  width: 40%;
  right: 0;
  bottom: 30%;
  z-index: -1;
}

.team__backg-left {
  position: absolute;
  width: 40%;
  left: 0;
  top: 30%;
  z-index: -1;
}

/*----services----*/

.services {
  background: no-repeat url(/assets/images/video/фон.png);
  background-size: cover;
  padding: 30px 0;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.services__container {
  margin: 0 5% 10% 5%;
}

.servises__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10% 2%;
}

.services__card {
  display: flex;
  background-color: #ffff;
  border-radius: 9px;
  padding: 2%;
}

.services__img {
  margin-right: 4%;
}

.services__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 3%;
}

/*----Test----*/
.test {
  max-height: 100%;
  max-width: 100%;
  background: no-repeat url(/assets/images/test/Mask\ Group.png);
  background-size: cover;
}

.test__container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.test__body {
  margin: 3% auto 4%;
}

.test__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: white;
}

.test__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: white;
}

.test__btn {
  background: #037e8c;
  color: #ffffff;
  border-radius: 9px;
  border: none;
  width: 175px;
  height: 45px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  margin-top: 3%;
}

.test__btn:hover {
  background: #07646e;
  transition: 1s;
  cursor: pointer;
}

/*----Photo----*/

.photo {
  max-height: 100%;
  max-width: 100%;
  padding: 1% 0 3%;
}

.photo__title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.photo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo__slider {
  max-height: 100%;
  min-width: 100%;
}

/*----Questions----*/
.feedback {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

.feedback__quad {
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 7%;
  z-index: -1;
}

.feedback__spring {
  width: 30%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 40%;
}

.feedback__container {
  margin: 0 12%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    "f-title f-title"
    "questions ask";
  gap: 2%;
}

.feedback__title {
  grid-area: f-title;
  text-align: center;
  align-self: center;
}

.ask {
  text-align: center;
  grid-area: ask;
  justify-self: right;
}

.ask__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.ask__text {
  line-height: 17px;
}

.ask__button {
  margin-top: 5%;
  width: 175px;
  height: 45px;
  background-color: #037e8c;
  color: #ffffff;
  border-radius: 9px;
  border: none;
}

.ask__button:hover {
  background-color: #055e68;
  transition: .5s;
}

.questions {
  grid-area: questions;
  align-self: center;
}

.answer {
  line-height: 21px;
}

.block {
  background-color: #ffffff;
  padding: 3%;
  margin-top: 1.5%;
  border: 0.5px solid #848484;
  border-radius: 2px;
}

.block__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.block:hover {
  border: 1px solid #037e8c;
}

.block__hide {
  display: none;
}

.block__hide+.block__label~.answer {
  display: none;
}

.block:hover .answer {
  display: block;
  padding-top: 2%;
}

/*----Extra----*/
.extra__title {
  margin: 0;
  grid-area: e-title;
  text-align: center;
}

.photo {
  background-color: #f4f4f4;
  border-radius: 9px;
  margin: 0;
}

.photo__title {
  margin: 4% auto 6% 4%;
}

.photo__link {
  line-height: 23px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #037e8c;
}

.photo__link:hover {
  opacity: 0.8;
}

.photo__img {
  max-width: 100%;
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.photo-one {
  grid-area: p-one;
}

.photo-two {
  grid-area: p-two;
}

.photo-three {
  grid-area: p-three;
}

.photo-four {
  grid-area: p-four;
}

.photo-five {
  grid-area: p-five;
}

.photo-six {
  grid-area: p-six;
}

.photo-seven {
  grid-area: p-seven;
}

.photo-eight {
  grid-area: p-eight;
}

.extra-container {
  margin: 0 5%;
  padding-bottom: 10%;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "e-title e-title e-title e-title"
    "p-one p-two p-three p-four"
    "p-five p-six p-seven p-eight";
  column-gap: 2%;
  row-gap: 3%;
}

/*----Footer----*/

.adress {
  grid-area: adress;
}

.number {
  grid-area: number;
}

.email {
  grid-area: email;
}

.hours {
  grid-area: hours;
}

.contacts {
  grid-area: contacts;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(1vh, auto);
  grid-template-areas:
    "adress number"
    "email hours";
  gap: 5%;
}

.footer-title,
.feedback__title,
.extra__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.connect {
  display: flex;
  align-items: center;
}

.connect__title {
  margin-left: 3%;
  font-size: 18px;
  line-height: 27px;
}

.connect__img {
  width: 45px;
  height: 45px;
}

.connect__title_link {
  text-decoration: none;
  color: #121214;
}

.connect__title_link:hover {
  color: #037e8c;
  transition: .6s;
}

.map {
  grid-area: map;
  justify-self: flex-end;
}

.map__img {
  max-width: 100%;
}

.footer-title {
  padding-top: 2%;
  margin-right: 1vw;
  border-top: 3px solid #037e8c;
  grid-area: title;
}

.social {
  grid-area: social;
  align-self: flex-end;
}

.social__title {
  font-size: 24px;
  line-height: 36px;
}

.social__img {
  width: 41px;
  height: 41px;
}

.social__img_whatsap {
  margin-right: 3%;
}

.bottom {
  border-top: 1px solid #121214;
  border-bottom: 1px solid #121214;
  margin-top: 3%;
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__logo {
  margin-left: 8%;
  max-height: 100%;
}

.nav {
  width: 67%;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  line-height: 15px;
  font-weight: 600;
  color: #121214;
  text-decoration: none;
}

.nav__link:hover {
  color: #037e8c;
  transition: .6s;
}

.copyrights {
  padding: 1%;
  align-self: center;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #787878;
  grid-area: copyrights;
}

.footer__container {
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 20% 11%;
  grid-template-areas:
    "title map"
    "contacts map"
    "social map"
    "bottom bottom"
    "copyrights copyrights";
}

/*---------------------------------------------------------------------------------*/
/*-------------------------------------Adaptive -----------------------------------*/
@media screen and (min-width: 1101px) and (max-width: 1400px) {
  /*----header----*/

  .top__logo {
    width: 90px;
  }

  .navigation__link {
    font-size: 14px;
  }

  .right__number {
    font-size: 15px;
  }

  .phone__img {
    width: 15px;
  }

  .right__button {
    font-size: 13px;
    width: 100%;
  }

  .right {
    margin-top: 1.5%;
    width: 150px;
  }

  /*----sertificate----*/

  .information__text {
    font-size: 15px;
  }

  .information__button {
    margin-top: 4%;
  }

  /*----footer----*/
  .connect__title {
    font-size: 16px;
  }

  .connect__img {
    width: 40px;
    height: 40px;
  }

  .social__img {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .btn-details {
    margin-bottom: 5%;
  }

  /*----header----*/

  .top__logo {
    width: 80px;
  }

  .navigation__link {
    font-size: 12px;
  }

  .right {
    margin-top: 1.5%;
  }

  .right__number {
    font-size: 14px;
  }

  .phone__img {
    width: 14px;
  }

  .right__button {
    font-size: 13px;
    width: 100%;
  }

  .right {
    width: 150px;
  }

  /*----sertificate----*/

  .information__text {
    font-size: 14px;
  }

  .information__button {
    margin-top: 3%;
  }

  /*----footer----*/
  .connect__title {
    font-size: 15px;
  }

  .connect__img {
    width: 38px;
    height: 38px;
  }

  .social__img {
    width: 36px;
    height: 36px;
  }

  /*----routes----*/
  .btn-details {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
  }

  /*----header----*/

  .navigation__link {
    font-size: 10px;
  }

  .right__number {
    font-size: 13px;
  }

  .phone__img {
    width: 13px;
  }

  .right__button {
    font-size: 11px;
    width: 100%;
  }

  .right {
    margin-top: 1.5%;
    width: 120px;
  }

  .top__logo {
    width: 80px;
  }

  .area__title {
    font-size: 60px;
  }

  .area__text {
    font-size: 20px;
  }

  /*----info----*/
  .basic,
  .extantion,
  .experience {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
  }

  .swiper-container {
    height: 90%;
  }

  /*----routs----*/
  .basic,
  .experience {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .extantion {
    display: flex;
    flex-direction: column-reverse;
  }

  .basic__content,
  .extantion__content,
  .experience__content {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .extantion__content {
    padding-bottom: 5%;
  }

  .extantion__slider-img {
    width: 100vw;
  }

  /*----servises----*/
  .servises__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10% 2%;
  }

  /*----sale----*/
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .item {
    margin-bottom: 2%;
  }

  .sale__img_car,
  .sale__img_detail {
    display: none;
  }

  /*----sertificate----*/
  .common {
    flex-direction: column-reverse;
    align-items: center;
  }

  .information {
    width: 100%;
  }

  /*----questions----*/
  .feedback__quad,
  .feedback__spring {
    display: none;
  }

  .feedback__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "f-title"
      "questions"
      "ask";
  }

  .ask {
    padding-bottom: 10%;
    justify-self: center;
  }

  /*----extra----*/
  .photo__link {
    font-size: 16px;
  }

  /*----footer----*/

  .connect__img {
    width: 40px;
    height: 40px;
  }

  .nav__link,
  .copyrights {
    font-size: 11px;
  }

  .footer-title {
    border: none;
  }

  .contacts {
    grid-template-areas:
      "adress"
      "email"
      "number"
      "hours";
  }

  .social {
    margin-top: 5%;

    display: flex;
    align-items: center;
  }

  .social__link {
    margin-left: 1%;
  }

  .social__img {
    width: 36px;
    height: 36px;
  }

  .map {
    width: 100%;
    margin: 3% auto;
  }

  .map__img {
    width: 100%;
  }

  .bottom {
    margin: 0;
  }

  .footer__container {
    margin: 0 2%;
    border-top: 3px solid #037e8c;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "map"
      "contacts"
      "social"
      "bottom"
      "copyrights";
  }
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }

  /*----header----*/
  .hamburger-menu {
    display: block;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 4%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .menu__btn>span::before {
    content: "";
    top: -8px;
  }

  .menu__btn>span::after {
    content: "";
    top: 8px;
  }

  .shadow {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    background-color: #121214;
  }

  .shadow-logo {
    padding: 5%;
    width: 90px;
  }

  .shadow-logo__img {
    max-width: 100%;
  }

  .menu__box {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
  }

  .menu-list {
    border-bottom: 0.5px solid white;
  }

  .menu__item {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    text-decoration: none;
  }

  .menu__item:hover {
    color: #037e8c;
  }

  .right-2 {
    margin-left: 5%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 207px;
    height: 72px;
  }

  .right-2__number {
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    line-height: 21px;
  }

  .right-2__number:hover {
    color: #037e8c;
  }

  .right-2__button {
    align-self: flex-end;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    border: none;
    width: 177px;
    height: 40px;
    line-height: 15px;
    font-weight: 600;
    color: #ffffff;
  }

  .phone-2__img {
    width: 21px;
  }

  .phone-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .right-2__button:hover {
    background-color: #ffffff;
    color: #037e8c;
  }

  #menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.shadow {
    visibility: visible;
    left: 0;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    transition-duration: 0.25s;
  }

  .shadow {
    transition-duration: 0.25s;
  }

  .menu__item {
    transition-duration: 0.25s;
  }

  .top__logo {
    width: 60px;
  }

  .header-container {
    padding: 1% 2% 15%;
  }

  .right,
  .navigation {
    display: none;
  }

  .area__title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
  }

  .area__text {
    font-size: 15px;
    line-height: 20px;
  }

  .area-button {
    width: 220px;
    height: 45px;
    font-size: 14px;
    line-height: 15px;
  }

  /*----info----*/

  .info {
    margin: 0 2%;
  }

  .info__items {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.8em;
  }

  .info__title {
    font-size: 1.1em;
  }

  /*----routes----*/
  .routes__title {
    padding: 10%;
  }

  .basic,
  .experience {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 10%;
  }

  .extantion {
    display: flex;
    flex-direction: column-reverse;
  }

  .basic__content,
  .extantion__content,
  .experience__content {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .experience__content {
    display: block;
  }

  .basic__line,
  .extantion__line,
  .experience__line {
    display: none;
  }

  .routes__title--2 {
    display: flex;
    justify-content: space-between;
  }

  .routes__line--adapt {
    display: block;
    align-self: flex-start;
  }

  .extantion__slider {
    padding: 50px 0;
  }

  /*----team----*/
  .team__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "ph1 ph2"
      "ph3 ph4";
    column-gap: 4%;
  }

  .team__title {
    padding: 10% 0 7% 0;
  }

  .team__backg-right {
    display: none;
  }

  .team__backg-left {
    display: none;
  }

  /*----servises----*/
  .servises__items {
    display: grid;
    grid-template-columns: 100%;
    gap: 2%;
  }

  .services__title {
    padding-bottom: 1%;
  }


  /*----sale----*/
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .item {
    margin-bottom: 2%;
  }

  .sale__img_car,
  .sale__img_detail {
    display: none;
  }

  /*----sertificate----*/
  .common {
    flex-direction: column-reverse;
    align-items: center;
  }

  .information {
    width: 100%;
  }

  /*----questions----*/
  .feedback__quad,
  .feedback__spring {
    display: none;
  }

  .feedback__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "f-title"
      "questions"
      "ask";
  }

  .ask {
    padding-bottom: 10%;
    justify-self: center;
  }

  /*----questions----*/
  .feedback__quad,
  .feedback__spring {
    display: none;
  }

  .feedback__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "f-title"
      "questions"
      "ask";
  }

  .ask {
    padding-bottom: 10%;
    justify-self: center;
  }

  /*----extra----*/

  .extra-container {
    margin: 0 2%;
    padding-bottom: 0;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5% repeat(5, 1fr);
    grid-template-areas:
      "e-title e-title"
      "p-one p-two"
      " p-three p-four"
      "p-five p-six"
      "p-seven p-eight";
    column-gap: 2%;
    row-gap: 3%;
  }

  /*----footer----*/
  .connect__img {
    width: 40px;
    height: 40px;
  }

  .social__img {
    width: 36px;
    height: 36px;
  }

  .nav__link,
  .copyrights {
    font-size: 11px;
  }

  .footer-title {
    border: none;
  }

  .contacts {
    grid-template-areas:
      "adress"
      "email"
      "number"
      "hours";
  }

  .social {
    margin-top: 5%;

    display: flex;
    align-items: center;
  }

  .social__link {
    margin-left: 1%;
  }

  .map {
    width: 100%;
    margin: 3% auto;
  }

  .map__img {
    width: 100%;
  }

  .bottom__logo {
    align-self: flex-start;
    height: 50%;
    margin-left: 0;
  }

  .bottom {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .nav {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer__container {
    margin: 0 2%;
    border-top: 3px solid #037e8c;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 20% auto;
    grid-template-areas:
      "title"
      "map"
      "contacts"
      "social"
      "bottom"
      "copyrights";
  }
}

@media screen and (max-width: 420px) {
  /*----header-----*/

  .shadow-logo {
    width: 50px;
  }

  .menu__item {
    font-size: 16px;
    line-height: 39px;
  }

  .header-container {
    padding: 1% 2% 15%;
  }

  .top__logo {
    margin-top: 1%;
    width: 50px;
  }

  .area {
    width: 255px;
    margin: 10% auto 20%;
  }

  .area__title {
    font-size: 33px;
    line-height: 45px;
    font-weight: 700;
  }

  .area-button {
    margin-top: 10%;
    width: 180px;
    height: 35px;
    font-size: 12px;
    line-height: 15px;
  }

  /*----test----*/
  .test__container {
    padding: 3%;
  }

  .test__title {
    font-weight: 400;
    font-size: 33px;
    line-height: 95%;
    color: white;
  }

  /*----photo----*/
  .photo__title2 {
    font-size: 25px;
  }

  /*----team----*/
  .team__container {
    margin: 0 2%;
    padding-bottom: 50px;
  }

  .team__title {
    font-size: 25px;
  }

  /*----servises----*/
  .services__container {
    margin: 0 2%;
    margin-bottom: 20%;
  }

  .services__title {
    font-size: 24px;
  }

  /*----sale----*/
  .sale-container {
    margin: 2% 2% 5%;
  }

  .sale__title,
  .sertificate__title {
    font-size: 24px;
    line-height: 31px;
  }

  .cards {
    flex-direction: column;
  }

  /*----sertificate----*/
  .sertificate-container {
    padding: 2% 2% 5%;
  }

  .sertificate__text {
    font-size: 16px;
    line-height: 21px;
  }

  .information__text {
    font-size: 14px;
    line-height: 21px;
  }

  .information__button {
    width: 270px;
    height: 45px;
  }

  /*----questions----*/
  .feedback__container {
    margin: 0 2%;
  }

  .answer {
    font-size: 13px;
    line-height: 20px;
  }

  .ask__title {
    font-size: 20px;
    line-height: 24px;
  }

  .ask__text {
    line-height: 14px;
  }

  /*----extra----*/

  .photo__link {
    line-height: 14px;
    font-size: 17px;
  }

  .extra-container {
    margin-bottom: 45%;
    margin-top: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 3% repeat(8, 1fr);
    grid-template-areas:
      "e-title"
      "p-one"
      " p-two"
      " p-three"
      " p-four"
      "p-five"
      " p-six"
      "p-seven"
      " p-eight";
    gap: 1%;
  }

  /*----footer----*/

  .footer-title,
  .feedback__title,
  .extra__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
  }

  .social__title {
    font-size: 18px;
    line-height: 27px;
  }

  .connect__img {
    width: 39px;
    height: 39px;
  }

  .social__img {
    width: 33px;
    height: 33px;
  }

  .nav__link {
    font-size: 10px;
  }

  .copyrights {
    font-size: 5px;
  }

  .connect__title {
    font-size: 16px;
  }

  /*----routes----*/
  .routes__title {
    font-size: 30px;
  }

  .routes__title--2 {
    font-size: 25px;
  }

  .routes__line--adapt {
    width: 20%;
  }

  .basic__content,
  .extantion__content,
  .experience__content {
    margin: 0 2%;
  }

  .btn-details,
  .btn-reserve {
    width: 150px;
    height: 45px;
    font-weight: lighter;
  }

}

@media screen and (max-width: 280px) {

  /*----header----*/
  .header-container {
    padding: 1% 2% 15%;
  }

  .area {
    width: 200px;
    margin: 10% auto 20%;
  }

  .area__title {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
  }

  .area-button {
    width: 160px;
    height: 35px;
    font-size: 10px;
    line-height: 13px;
  }

  /*----routes----*/

  .routes__title {
    font-size: 25px;
  }

  .routes__title--2 {
    font-size: 20px;
  }

  .routes__price {
    font-size: 20px;
  }

  .btn-details,
  .btn-reserve {
    width: 110px;
    height: 45px;
    font-weight: lighter;
  }

  /*----test----*/
  .test__container {
    padding: 2%;
  }

  .test__title {
    font-weight: 400;
    font-size: 10px;
    line-height: 40px;
    color: white;
  }

  /*----team----*/
  .team__title {
    font-size: 25px;
  }
}